.main-container {
    padding: 66px 0 0 0;
}
.margin-bottom-5 {
    margin-bottom: 5px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.controls.controls-row > * {
    margin-bottom: 0;
}
.margin-right-5 {
    margin-right: 5px;
}
.margin-right-10 {
    margin-right: 10px;
}
.margin-top-5 {
    margin-top: 5px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-15 {
    margin-top: 15px;
}
.margin-top-20 {
    margin-top: 20px;
}
.font-normal {
    font-weight: normal;
}
.display-none{display:none;}

@media (min-width: 768px) and (max-width: 979px)
{

}

@media (max-width: 767px)
{
    .controls.controls-row > * {
        margin-bottom: 10px;
    }
    .controls.controls-row > *:last-child {
        margin-bottom: 0;
    }
}

@media (min-width: 1200px)
{

}

@media (max-width: 480px)
{

}

@media (max-width: 979px)
{
    .main-container {
        padding: 25px 0 0 0;
    }
    .navbar-fixed-top {
        margin-bottom: 0;
    }
}

@media (min-width: 980px)
{

}


table .priority-0 a{color:#888;}
table .priority-1 a{color:#555;}
table .priority-2 a{color:#955;font-weight:bold;text-transform:uppercase;}

.legend{ padding-top: 20px;}
.legend > div{display: block;margin-bottom:10px;}
.legend > div > div{float:right;display:block;height:20px;width:20px;}
.legend > div > span{margin-right:10px; float:right;display:block;}

.clear{clear:both;height:0;width:0;padding:0;margin:0;}

.form textarea{width:98%;}
.margin-0{margin:0;}
.well hr{border-top: 1px solid #ddd;border-bottom: 1px solid #eee;}

.unselectable{
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* Datepicker mod */

.datepicker td, .datepicker th{width:27px;}
.datep{text-align:center;cursor:pointer;}

ul{padding-left:0;margin-left:0;}
ul li{list-style:none;padding-left:0;margin-left:0;}

.modal-header{cursor:move;}

td ul{display:inline-block;margin-right:50px;}

textarea.long{min-height:160px;}

.sub-task{margin:10px 0px;}